.mounting-block {
    padding-top: 120px;
}

.mounting-title {
    text-align: center;
}

.mounting-content {
    align-items: center;
}

.mounting-text {
    margin: 0 auto;
    text-align: justify;
    font-size: 16px;
}

.mounting-img {
    text-align: center;
}